.portfolio__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}


#portfolio h3{
    text-align: center;
    color: var(--color-primary);
}
.portfolio__item {
    background-color:#4db5ff9e;
    color: white;
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    color: var(--color-secondary);
    margin: 1.2rem 0;
}

.portfolio__item h2 {
    color: white;
}

.portfolio__item h6 {
    color: white;
}

.portfolio__desc {
    color: white;
}
/* .portfolio_a a{
    color: white;
} */
.common_credentials{
    text-align: center;
    font-size: 20px;
}

/* mobile devices */
@media screen and (max-width: 600px){
    .container.portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

/* medium sized devices */
@media screen and (max-width: 1024px){
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}