footer {
    background-color: rgb(199 41 187 / 94%);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a {
    color: var(--color-bg);
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.permalinks li{
font-size: 30px;
}

.footer__copyright {
    margin-bottom: 4rem;
    color: var(--color-bg);
}

.footer-icon{
    gap: 10px;
}

.footer-icon a{
    font-size: 40px;
    padding: 10px;
}
.guviimage{
    width: 40px;
    height: 40px;
}

.github{
    background-color: white;
    width: 40px;
    height: 40px;

}

.linkedin{
    width: 40px;
    height: 40px;
}
/* mobile devices */
@media screen and (max-width: 600px){
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }
}
